<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InternetShop</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <div class="row header">
                <div class="col-sm-10 web-title">
                    <img src="~/images/speed_cart_blur_blue.png" class="web-icon"/>
                    <h1 class="logo">Super Shlomo</h1>
                </div>
                <div class="col-sm-2 login">
                    @if (@ViewData["User"] == null)
                    {
                        <a href="#" id="registerBtn">Register</a>
                        <span> / </span>
                        <a href="#" id="loginBtn">Login</a>
                    }
                    else
                    {
                        <span>Hello @ViewData["User"]</span>
                        <a href="#" id="logoutBtn">Log Out</a>
                    }
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Branches">Branches</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Products">Products</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    @if ((bool)ViewData["IsAdmin"])
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="Analytics">Analytics</a></li>
                    }
                </ul>
                <div class="social-media">
                    <a href="https://twitter.com/Shlomo14236952">
                        <img class="follow-button" src="~/images/twitter_icon.png"/>
                    </a>
                    <a href="https://www.facebook.com/Super-Shlomo-2146375549014081">
                        <img class="follow-button" src="~/images/facebook_icon.png" />
                    </a>
                    @*https://www.facebook.com/Super-Shlomo-2146375549014081*@
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Super Shlomo</p>
        </footer>
    </div>

    <!-- Register Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputFirstName" class="col-sm-2 control-label">First Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="registerFirstName" placeholder="First Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputLastName" class="col-sm-2 control-label">Last Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="registerLastName" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPhone" class="col-sm-2 control-label">Phone Number</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="registerPhone" placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress" class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="registerAddress" placeholder="Address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Branch</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="registerBranch"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputUser" class="col-sm-2 control-label">User Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="registerUser" placeholder="User Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="registerPassword" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" id="registerSubmitBtn">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputUser" class="col-sm-2 control-label">User</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="loginUser" placeholder="User">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" id="loginSubmitBtn">Sign in</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        jQuery(function ($) {

            function validateInputs(parent) {
                var isValid = true;

                $(parent + ' input').each(function () {
                    if (!$(this).val()) {
                        $(this).parents('.form-group').addClass('has-error')
                        isValid = false;
                    }
                    else
                        $(this).parents('.form-group').removeClass('has-error')
                })

                return isValid;
            }

            // Register

            $("#registerBtn").click(function () {
                $.ajax('/Home/GetBranches').done(function (branches) {

                    var options = '';
                    for (i = 0; i < branches.length; i++) {
                        options += '<option value=' + branches[i].branchID + '>' + branches[i].city + '</option>';
                    }

                    $('#registerModal #registerBranch').html(options);

                    $('#registerModal').modal();

                }).fail(function () {
                    alert('failed to fetch branches');
                })
            })


            $('#registerSubmitBtn').click(function () {
                var isValid = validateInputs('#registerModal');

                if (isValid) {
                    $.ajax('/Users/CheckName?username=' + $('#registerUser').val())
                        .done(function (isUserExist) {
                            if (isUserExist) {
                                alert('username already exists!');
                                return;
                            }

                            $.ajax({
                                url: '/Users/Register',
                                method: 'POST',
                                data: {
                                    FirstName: $('#registerFirstName').val(),
                                    LastName: $('#registerLastName').val(),
                                    Phone: $('#registerPhone').val(),
                                    Address: $('#registerAddress').val(),
                                    ClosestBranchID: $('#registerBranch').val(),
                                    Username: $('#registerUser').val(),
                                    Password: $('#registerPassword').val(),
                                }
                            })
                                .done(function (result) {
                                    alert('register success!');
                                    $('#registerModal').modal('hide');
                                    $('#registerModal input').val('');
                                })
                                .fail(function () {
                                    alert('error in register');
                                })
                        })
                        .fail(function () {
                            alert("failed to check username")
                        })
                }
            })

            // Login

            $("#loginBtn").click(function () {
                $('#loginModal').modal();

            })

            $('#loginSubmitBtn').click(function () {
                var isValid = validateInputs('#loginModal');

                if (isValid) {
                    $.ajax({
                        url: '/Users/AttemptLogin',
                        method: 'POST',
                        data: {
                            Username: $('#loginUser').val(),
                            Password: $('#loginPassword').val(),
                        }
                    })
                        .done(function (result) {
                            if (!result.loginSucceeded) {
                                alert('incorrect user/password');
                                return;
                            }
                            location.reload()
                        })
                        .fail(function () {
                            alert("login failed");
                        })
                }
            })

            $('#logoutBtn').click(function () {
                $.ajax('/Users/Logout')
                    .done(function (result) {
                        location.reload()
                    })
                    .fail(function () {
                        alert("logout failed");
                    })
            })
        });
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
